@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
	font-weight: 200 1000;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
	font-weight: 200 1000;
	font-style: italic;
	font-display: swap;
}

